*{
    direction:rtl;
    padding-right : 5px ;
}

body{
    background-color: black;
}

h2{
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
      
}
#container{
    display: block;
    text-align: center;
}


button {
    
    width: 450px;
    padding: 15px 45px;
    margin: 10px;

    background-image: linear-gradient(to right, #FF4E50 0%, #F9D423  51%, #FF4E50  100%);
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: -3px 5px 9px #eee;
    border-radius: 10px;
    font-size: 150%;
}

button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
