*{
    padding: 0px;
    margin: 0px;
}
body{
	background-image:url("../images/bg.jpg");
	background-attachment:fixed;
	background-size: cover;
}
#all_logo{
padding:15px;
}
#my_name {
    font-size: 50px;
    float : left;
    color : white
}
#logo{
    direction: rtl;
    list-style-type: none;
    
}
a{
    text-decoration: none;
}
iframe{
    width: 49% ;
    height: 1000px ;
	padding:3px;
}
@media screen and (min-width:0px) and (max-width:940px){
iframe{
    width: 100% ;
 }
}
#sb{
    
    direction: ltr;
}
#eb{
    float: right;
}
#facebook{
    height: 60px ;
}
#whatsapp{
    height: 65px ;
}