*{
    padding: 0px;
    margin: 0px;
}
body{
	background-color: black;
}
#links{
    display: inline;
    float: right;
    padding: 5px;
}
#facebook{
    height: 85px;
}
#whatsapp{
    height: 90px;
}
#logo{
    height: 100px;
}
a{
    text-decoration: none;
}
iframe{
    width: 49% ;
    height: 1000px ;
}
#sb{
   height: 1250px;
}
#eb{
    float: right;
}

@media screen and (min-width:0px) and (max-width:1000px){
iframe{
    width: 98%;
    display: block;
    margin: 15px auto;
 }
#eb{
    float:unset ;
 }
}